@use "../abstracts" as *;

.primary-btn {
  border: 2px solid #fff;
  font-size: 1.8rem;
  line-height: calc(1.8rem * 1.2);
  color: #fff;
  padding: 0.8rem 2.4rem;

  &:where(:hover, :focus) {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.secondary-btn {
  @extend .primary-btn;
  background-color: $primary-color;
  border-color: $primary-color;

  &:where(:hover, :focus) {
    background-color: $hover-color;
    border-color: $hover-color;
  }
}
