$font-family: "Roboto", sans-serif;

$global-font: 1.6rem;
$font-size-title: 1.8rem;

$global-line-height: calc($global-font * 1.6);
$title-line-height: calc($font-size-title * 1.2);

$primary-color: #0989ff;
$hover-color: #0071db;

$breakpoints: (
  xs: 575px,
  sm: 767px,
  md: 991px,
  lg: 1199px,
  xl: 1400px,
);
