.single nav {
  margin-bottom: 6rem;
}

.single-product-container {
  display: flex;
  align-items: center;
  gap: 12.8rem;

  .product-image {
    width: 40%;
    height: 48rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .product-content {
    width: 60%;
  }
}

.product-category {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.product-title {
  font-size: 4.1rem;
  line-height: calc(4.1rem * 1.2);
  margin-bottom: 2rem;
}

.product-desc {
  line-height: calc(1.6rem * 1.5);
  margin-bottom: 2.4rem;

  &:first-letter {
    text-transform: capitalize;
  }
}

.product-price {
  font-size: 1.8rem;
  line-height: calc(1.8rem * 1.2);
  font-weight: 600;
}
