.single {
  nav {
    margin-bottom: 6rem;
  }

  .featured .secondary-btn {
    display: none;
  }
}

.single-page-content {
  margin-bottom: 10rem;
}

.single-product-container {
  display: flex;
  align-items: center;
  gap: 12.8rem;

  .product-image {
    width: 40%;
    height: 48rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .product-content {
    width: 60%;
  }
}

.product-category {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.product-title {
  font-size: 4.1rem;
  line-height: calc(4.1rem * 1.2);
  margin-bottom: 2rem;
}

.product-desc {
  line-height: calc(1.6rem * 1.5);
  margin-bottom: 2.4rem;

  &:first-letter {
    text-transform: capitalize;
  }
}

.product-price {
  display: block;
  font-size: 1.8rem;
  line-height: calc(1.8rem * 1.2);
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
}

.product-quantity-title {
  margin-right: 1.6rem;
}

.product-btn {
  border: none;
  outline: none;
  color: #fff;
  height: 3rem;
  width: 3rem;
  background-color: #ff7d1b;
  cursor: pointer;

  svg {
    height: 2.4rem;
    width: 2.4rem;
  }
}

.product-quantity-indicator {
  border: none;
  outline: none;
  height: 3rem;
  width: 4rem;
  font-size: 1.8rem;
  line-height: calc(1.8rem * 1.2);
  text-align: center;
  padding: 0.8rem;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  height: 4.8rem;
  width: 24rem;
  font-size: 2rem;
  line-height: calc(2rem * 1.2);
  color: #fff;
  background-color: #0989ff;
  cursor: pointer;

  svg {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1.2rem;
  }
}
