* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

a:where(:hover, :focus) {
  color: #0989ff;
}

ul li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .wrapper {
    max-width: 906px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: 720px;
  }
}
@media (max-width: 575px) {
  .wrapper {
    max-width: 90%;
  }
}

.header-title {
  margin-bottom: 4rem;
}

.shopvista-item-title {
  font-size: 1.8rem;
  line-height: 2.16rem;
  font-weight: 500;
}

.shopvista-price {
  font-size: 1.6rem;
  line-height: 1.92rem;
  font-weight: 600;
}

.nav-content, .nav-links {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  z-index: 1;
}

.logo {
  font-size: 2.8rem;
  line-height: 2.64rem;
  font-weight: 600;
}

.nav-links {
  height: auto;
}
.nav-links li:not(:last-child) {
  margin-right: 1.6rem;
}
.nav-links a.active {
  color: #0989ff !important;
}

.home :where(.logo, .nav-links) {
  color: #fff;
}
.home :where(.logo, .nav-links) a:not(:hover, :focus) {
  color: inherit;
}

.hero {
  position: relative;
  height: 100vh;
  color: #fff;
  margin-top: -6rem;
  margin-bottom: 8rem;
}
.hero::before {
  position: absolute;
  content: "";
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-content {
  position: absolute;
  inset: 50% auto auto 50%;
  translate: -50% -50%;
  height: auto;
  width: 1140px;
}

.hero-title {
  font-size: 7.3rem;
  line-height: 8.76rem;
  margin-bottom: 0.8rem;
}

.hero-sub-title {
  font-size: 4.6rem;
  line-height: 5.52rem;
  margin-bottom: 3.2rem;
}

.primary-btn, .secondary-btn {
  border: 2px solid #fff;
  font-size: 1.8rem;
  line-height: 2.16rem;
  color: #fff;
  padding: 0.8rem 2.4rem;
}
.primary-btn:where(:hover, :focus), .secondary-btn:where(:hover, :focus) {
  background-color: #0989ff;
  border-color: #0989ff;
}

.secondary-btn {
  background-color: #0989ff;
  border-color: #0989ff;
}
.secondary-btn:where(:hover, :focus) {
  background-color: #0071db;
  border-color: #0071db;
}

.featured, .carousel {
  text-align: center;
}
.featured .header-title, .carousel .header-title {
  font-size: 3.9rem;
  line-height: 4.68rem;
  font-weight: 600;
}

.featured-body-content, .product-container, .skeleton-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  margin-bottom: 1.6rem;
}

.featured-item img, .carousel-item img, .product-item img {
  height: 32rem;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 1.6rem;
}
.featured-item h2, .carousel-item h2, .product-item h2 {
  margin-bottom: 0.8rem;
  text-transform: lowercase;
}
.featured-item h2 a, .carousel-item h2 a, .product-item h2 a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.featured-item h2::first-letter, .carousel-item h2::first-letter, .product-item h2::first-letter {
  text-transform: capitalize;
}

.skeleton-item .skeleton-image {
  height: 32rem;
  margin-bottom: 1.6rem;
}
.skeleton-item .skeleton-text {
  display: block;
  height: 2.4rem;
  margin-bottom: 0.8rem;
}
.skeleton-item .skeleton-price {
  height: 2rem;
  width: 6rem;
  margin: 0 auto;
}
.skeleton-item :where(.skeleton-image, .skeleton-text, .skeleton-price) {
  background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
  background-size: 200%;
  animation: skeleton 1s infinite;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
.categories-title {
  margin-bottom: 0.8rem;
}
.categories-title h2 {
  font-size: 1.8rem;
  line-height: 2.16rem;
}

.category-btns .button-item {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.4rem;
  line-height: 1.68rem;
}
.category-btns .button-item:not(:last-child) {
  margin-bottom: 1rem;
}

.product-item .shopvista-item-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 1.92rem;
}
.product-item .shopvista-price {
  display: inline-block;
  margin-bottom: 0.8rem;
}
.product-item .shopvista-rating {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;
  line-height: 1.68rem;
}
.product-item .shopvista-rating svg {
  fill: orange;
}

.carousel-item {
  margin: 0 1.6rem;
}

.shop nav {
  margin-bottom: 6rem;
}

.product {
  display: grid;
  grid-template-columns: 15% 85%;
  gap: 4rem;
}

.single nav {
  margin-bottom: 6rem;
}
.single .featured .secondary-btn {
  display: none;
}

.single-page-content {
  margin-bottom: 10rem;
}

.single-product-container {
  display: flex;
  align-items: center;
  gap: 12.8rem;
}
.single-product-container .product-image {
  width: 40%;
  height: 48rem;
}
.single-product-container .product-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.single-product-container .product-content {
  width: 60%;
}

.product-category {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.product-rating {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.product-title {
  font-size: 4.1rem;
  line-height: 4.92rem;
  margin-bottom: 2rem;
}

.product-desc {
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}
.product-desc:first-letter {
  text-transform: capitalize;
}

.product-price {
  display: block;
  font-size: 1.8rem;
  line-height: 2.16rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 3.2rem;
}

.product-quantity-title {
  margin-right: 1.6rem;
}

.product-btn {
  border: none;
  outline: none;
  color: #fff;
  height: 3rem;
  width: 3rem;
  background-color: #ff7d1b;
  cursor: pointer;
}
.product-btn svg {
  height: 2.4rem;
  width: 2.4rem;
}

.product-quantity-indicator {
  border: none;
  outline: none;
  height: 3rem;
  width: 4rem;
  font-size: 1.8rem;
  line-height: 2.16rem;
  text-align: center;
  padding: 0.8rem;
  /* Firefox */
}
.product-quantity-indicator::-webkit-outer-spin-button, .product-quantity-indicator::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-quantity-indicator[type=number] {
  -moz-appearance: textfield;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  height: 4.8rem;
  width: 24rem;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #fff;
  background-color: #0989ff;
  cursor: pointer;
}
.add-to-cart svg {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1.2rem;
}/*# sourceMappingURL=style.css.map */