@use "../abstracts" as *;

.wrapper {
  max-width: 1140px;
  margin: 0 auto;

  @include mq(md) {
    max-width: 906px;
  }

  @include mq(sm) {
    max-width: 720px;
  }

  @include mq(xs) {
    max-width: 90%;
  }
}

.header-title {
  margin-bottom: 6.4rem;
}

.shopvista-item-title {
  font-size: $font-size-title;
  line-height: $title-line-height;
  font-weight: 500;
}

.shopvista-price {
  font-size: $global-font;
  line-height: calc($global-font * 1.2);
  font-weight: 600;
}